* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #000;

    p {
        font-size: 1.5rem
    }

    .menu-icon {
        width: 1.8rem;
        cursor: pointer;
    }
}

main {
    background: url(./img/fundo-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        h1 {
            font-size: 3rem;
            color: #000;
        }

        a {
            text-decoration: none;
            color: #fff;
            background: #0000009f;
            padding: 1rem 2rem;
            border-radius: 0.5rem
        }
    }
}

.about {
    padding: 2rem auto;
    background: url(./img/casa-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0000009f;
        z-index: 1;
    }

    .about-box {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 8rem;


        h2 {
            font-size: 2rem;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

#imoveis {
    padding: 2rem;
    background: url(./img/img-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    isolation: isolate;

    .overlay-2 {
        position: absolute;
        inset: 0;
        background-color: #0000009f;
        z-index: 1;
    }


    h2 {
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 1.5rem;
    }

    .carousel {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow-1 {
            background: none;
            border: none;
            width: 2rem;
            cursor: pointer;

            .left {
                height: 2rem;
            }
        }


        .carousel-viewport {
            width: 100%;
            overflow: hidden;
        }

        .carousel-track {
            display: flex;

            article {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4rem;

                .img-art {
                    height: 15rem;
                    border-radius: 25px;
                    margin-top: 3.5rem;
                }

                .house {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }
            }   
        }

        .arrow-2 {
            background: none;
            border: none;
            width: 2rem;
            cursor: pointer;

            .right {
                height: 2rem;
            }
        }
    }
}